/datasets
/cancer
/clustering
/API/__pycache__
/__pycache__

/inż
/preprocessed
/test_img
/venv
/.vscode
/model
*.png
*.jpg
*.jpeg
*.toml
*.log
*.json
*.txt

mymodel*

!/data/readme_resources/*.png
!/data/readme_resources/*.jpg